<div class="container__infos">
  <div class="backbutton"></div>
  <p class="title"> {{character.character.name }}</p>
  <div class="first">


    <img src={{character.character.thumbnail.path}}.{{character.character.thumbnail.extension}} alt="">
    <p class="description">
      {{character.character.description ? character.character.description+'See Some Comics bellow' : 'Description not Found!' }}
    </p>

  </div>
</div>
  <div class="second">
    <p class="second__title">Appears On!</p>
    <app-spinner class="spinner" *ngIf="loading"></app-spinner>
      <div class="container__cards">
        <app-card [typeInput]="type" [character]="item" *ngFor="let item of comics"></app-card>
      </div>
    <div class="card">
      <img src="" alt="">
    </div>
  </div>



