<div class="container-fluid">
  <div class="backbutton"></div>
  <p> {{character.character.name }}</p>
  <div class="first">


    <img src={{character.character.thumbnail.path}}.{{character.character.thumbnail.extension}} alt="">
    <p class="description">
      {{character.character.description ? character.character.description : 'Description not Found!' }}
    </p>

  </div>
  <div class="second">
    <p>Comics</p>
      <div class="container">
        <app-card [typeInput]="type" [character]="item" *ngFor="let item of comics"></app-card>
      </div>
    <div class="card">
      <img src="" alt="">
    </div>
  </div>


</div>
