<div class="card">
  <div
  (mouseover)="hoveringcharacter=true"
  (mouseout)="hoveringcharacter=false"
  class="character">
    <div *ngIf="!hoveringcharacter" class="card__face card__face--front">
      <img src="http://i.annihil.us/u/prod/marvel/i/mg/3/20/5232158de5b16.jpg" alt="">
      <p>A-Bomb (HAS)</p>
      <button>Details</button>
    </div>

    <div *ngIf="hoveringcharacter" class="card__face card__face--back">
      <p class="small__desc">  Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, quaerat? Dolorum suscipit tempora molestias aliquid obcaecati repudiandae quibusdam harum consequatur!</p>
      <p class="name">A-Bomb (HAS)</p>
      <button>Details</button>
    </div>

  </div>

</div>
